<div class="inter">
  <%= render 'layouts/header' %>
</div>

<div class="donate standartScroll">
  <%= render 'find_donors/find_form' %>
</div>

<section class="how-it-works">
  <%= render 'find_donors/how_it_works' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
