<h2 class="support-title">Hay más maneras<br>de ayudarnos</h2>
<div class="support-wrapper">
  <div class="support-space">
  	<div class="support-card support-card-1">
  	  <div class="support-card--title">Donación<br>de material</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar.</p>
  	  	<%= link_to 'Ayúdanos', new_contact_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
  <div class="support-space">
  	<div class="support-card support-card-2">
  	  <div class="support-card--title">Donación<br>de alimentos</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar.</p>
  	  	<%= link_to 'Ayúdanos', new_contact_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
  <div class="support-space">
  	<div class="support-card support-card-3">
  	  <div class="support-card--title">Apoyo<br>monetario</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar.</p>
  	  	<%= link_to 'Ayúdanos', donate_money_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
  <div class="support-space">
  	<div class="support-card support-card-4">
  	  <div class="support-card--title">Replica<br>Donadores Compulsivos<br>en tu ciudad</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar.</p>
  	  	<%= link_to 'Ayúdanos', new_contact_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
</div>