<h2 class="support-title">Hay más maneras<br>de ayudarnos</h2>
<div class="support-wrapper">
  <div class="support-space">
  	<div class="support-card support-card-1">
  	  <div class="support-card--title">Donación<br>de material</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Siempre necesitamos personas o empresas que quieran patrocinar playeras y su impresión, así como la maquila de folletos, volantes, lonas, espectaculares, etc. Todo es bienvenido. Si tienes una idea para sumar más patrocinadores, ¡no dudes en contactarnos!</p>
  	  	<%= link_to 'Ayúdanos', new_contact_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
  <div class="support-space">
  	<div class="support-card support-card-2">
  	  <div class="support-card--title">Donación<br>de alimentos</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Contamos con el apoyo de personas o empresas que patrocinan los alimentos y bebidas necesarios para los donadores del día, ya que es importante que se alimenten antes y después de la donación, gracias a ellos la experiencia es más satisfactoria y segura. ¿Te interesa sumarte?</p>
  	  	<%= link_to 'Ayúdanos', new_contact_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
  <div class="support-space">
  	<div class="support-card support-card-3">
  	  <div class="support-card--title">Apoyo<br>monetario</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">Somos un grupo de amigos apasionados en ayudar a los demás. Dependemos de tus aportaciones para no limitar nuestro crecimiento, por lo que agradecemos tu donativo, sin importar la cantidad, cada peso nos permitirá seguir adelante en este sueño de cambiar la cultura de la donación de sangre en el país.</p>
  	  	<%= link_to 'Ayúdanos', donate_money_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
  <div class="support-space">
  	<div class="support-card support-card-4">
  	  <div class="support-card--title">Replica<br>Donadores Compulsivos<br>en tu ciudad</div>
  	  <div class="support-description">
  	  	<p class="support-paragraph">La necesidad de sangre es algo generalizado en todo el territorio nacional, por lo cual nos encontramos en constante expansión. Si tu eres o conoces a personas apasionadas por ayudar y contribuir a cambiar la cultura de la donación de sangre en nuestro país, contáctanos ya.</p>
  	  	<%= link_to 'Ayúdanos', new_contact_path, class: 'support-btn' %>
  	  </div>
  	</div>
  </div>
</div>