<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="support-us">
  <%= render 'support_us/support_options' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
