<div class="inter">
  <%= render 'layouts/header' %>
</div>

<div class="find-donors standartScroll">
  <%= render 'receivers/find_form' %>
</div>

<section class="how-it-works">
  <%= render 'receivers/how_it_works' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
