<div class="inter">
  <%= render 'layouts/header' %>
</div>

<div class="find-donors standartScroll">
  <%= render 'receivers/find_form' %>
</div>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
