<h1 class="able-title">¡Felicidades!</h1>
<p class="able-text"><span class="able-bold">Calificas como donante. </span>Ahora sólo queda acercarte a tu centro de donación más cercano.</p>
<div class="able-cities">
  <div class="able-city">
  	<h4 class="able-cityname">Colima</h4>
  	<p class="able-place">Centro Estatal de Transfusuión Sanguínea</p>
  	<p class="able-address">Av. Ayuntamiento s/n<br>
  	Col. Burócratas Municipales C.P. 28040<br>
  	Colima, Col.<br>
  	Horario:<br>
  	7:00 a.m. a 11:00 a.m.</p>
  </div>
  <div class="able-city">
  	<h4 class="able-cityname">Puebla</h4>
  	<p class="able-place">Banco de Sangre del Hospital General de Cholula</p>
  	<p class="able-address">Periférico Arco Sur s/n<br>
  	San Bernardino Tlaxcalancingo C.P. 72825<br>
  	San Andrés Cholula<br>
  	Lun-Vie: 7:00 a.m. a 10:00 a.m.<br>
    Tel: (01) 222 214 43 00</p>
  </div>
</div>
<div class="able-advices">
  <div class="able-requirements">
  	<h4 class="able-subtitle">Requisitos</h4>
  	<p class="able-point">• Presentar una identificación oficial con fotografía (INE, licencia, pasaporte).</p>
  	<p class="able-point">• Gozar de buena salud física y mental.</p>
  	<p class="able-point">• No tomar medicamentos 72 horas antes de la donación.</p>
  	<p class="able-point">• No haber consumido alcohol 48 horas antes de donar.</p>
  	<p class="able-point">• Evitar consumir alimentos grasosos 24 horas antes de donar.</p>
  	<p class="able-point">• No fumar al menos 8 horas antes de la donación.</p>
  </div>
  <div class="able-recommendations">
  	<h4 class="able-subtitle">Te recomendamos</h4>
  	<p class="able-point">• Presentarte limpio y con ropa cómoda.</p>
  	<p class="able-point">• No llevar menores de edad.</p>
  	<p class="able-point">• Aumentar el consumo de líquidos 24 horas antes.</p>
  	<p class="able-point">• Tomar jugos naturales, café sin crema y tés antes de la donación.</p>
  	<p class="able-point">• Comer fruta antes de donar.</p>
    <p class="able-point">• Di que vas de parte de Donadores Compulsivos.</p>
  </div>
</div>