<div class="unable-wrapper">
  <h1 class="unable-title">Lo sentimos, no eres apto para donar sangre en estos momentos.</h1>
  <p class="unable-description">Contáctanos para más información acerca de cuándo podrás donar o para ayudarnos de otra manera.</p>
  <%= link_to 'Contacto', new_contact_path(:subject => 'Contacto'), class: 'unable-btn flat-btn' %>
</div>