<div class="whwb-square">
  <h2 class="whwb-title">¿Qué se hace con tu sangre?</h2>
  <div class="whwb-item">
  	<div class="whwb-icon whwb-icon-1"></div>
  	<div class="whwb-text">Se analiza</div>
  </div>
  <div class="whwb-arrow"></div>
  <div class="whwb-item">
  	<div class="whwb-icon whwb-icon-2"></div>
  	<div class="whwb-text">Se separan sus componentes</div>
  </div>
  <div class="whwb-arrow"></div>
  <div class="whwb-item">
  	<div class="whwb-icon whwb-icon-3"></div>
  	<div class="whwb-text">Se almacena</div>
  </div>
  <div class="whwb-arrow"></div>
  <div class="whwb-item">
  	<div class="whwb-icon whwb-icon-4"></div>
  	<div class="whwb-text">Se le entrega a quien lo necesite</div>
  </div>
</div>