<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="donate">
  <%= render 'donors/donate_form' %>
</section>

<section class="what-happens inter standartScroll">
  <%= render 'donors/what_happens_with_blood' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
