.what-we-do {
  background-color: $cloud;
  position: relative;
}

.what-description {
  display: inline-block;
  height: 200px;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-10%, -50%);
  width: 500px;
}

.team {
  background-color: $red-blood;
  bottom: 0;
  height: 200px;
  position: absolute;
  width: 100%;
}

.our-container {
  background-color: $cloud;
  height: 400px;
  position: relative;
}

.mission, .vision {
  bottom: 60px;
}

.mission {
  left: 25%;
  position: absolute;
  transform: translateX(-25%);
}

.vision {
  left: 75%;
  position: absolute;
  transform: translateX(-75%);
}

.our-containerObj {
  height: 300px;
  position: relative;
}

.objective {
  right: 20%;
  position: absolute;
  top: 50%;
  transform: translate(20%, -50%);
}

.be-part {
  background-color: $cloud;
  height: 200px;
  position: relative;
}

.be-part-btn {
  left: 50%;
  line-height: 70px;
  margin: 25px 15px;
  padding: 0 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
