.contact {
  background-color: $red-blood;

  .contact-title {
    @include centerer(true, false);

    color: $white;
    font-size: 50px;
    font-weight: lighter;
    margin: 8% 0 50px;
    text-transform: uppercase;
  }

  .contact-wrapper {
    @include make-sm-column(7);
    @include centerer(true, true);

    margin-top: 60px;

    .contact-left {
      @include make-sm-column(5);

      padding: 0 10px 0 0;
    }

    .contact-right {
      @include make-sm-column(7);

      padding: 0 0 0 10px;

      .contact-field {
        max-height: 207px;
        min-height: 207px;
        max-width: 100%;
        min-width: 100%;
        padding: 8px 20px;
      }
    }

    .contact-field {
      border: none;
      border-radius: 5px;
      font-family: $light;
      height: 33px;
      margin: 12.5px 0;
      padding: 0 20px;
      width: 100%;
    }

    .contact-select {
      appearance: none;
      background: $white url('triangle.svg') 96% center no-repeat;
    }

    .contact-submit {
      background-color: transparent;
      border: solid 1px $white;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      float: right;
      font-family: $light;
      font-size: 10px;
      font-weight: bold;
      margin: 10px 0 0;
      padding: 8px 40px;
      text-transform: uppercase;

      &:hover {
        background-color: $white;
        color: $red-blood;
      }
    }
  }
}