.contact {
  position: relative;
}

.donate-form {
  left: 10%;
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
}

.contact-container {
  background-color: $cloud;
  border-radius: 3px;
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.25);
  left: 75%;
  position: absolute;
  top: 50%;
  transform: translate(-75%, -50%);
  width: 50%;
}

.contact-image {
  background-color: $red-blood;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 400px;
  position: relative;
}

.info {
  bottom: 0;
  line-height: 25px;
  margin: 10px;
  position: absolute;
}

.social-networks {
  height: 100px;
}

.social-item {
  display: inline-block;
  line-height: 100px;
  margin-right: -5px;
  text-align: center;
  width: 33.35%;
}

.facebook:hover {
  color: #fff;
  background-color: #3b5998;
  border-bottom-left-radius: 3px; }
.twitter:hover {
  color: #fff;
  background-color: #1da1f2; }
.instagram:hover {
  color: #fff;
  background-color: #e1306c;
  border-bottom-right-radius: 3px; }
