.faq {
  background-color: $grey-bg;
  position: relative;
}

.faq-title {
  font-size: 50px;
  font-weight: lighter;
  line-height: 40px;
  margin: 0 0 60px;
  padding-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

.faq-wrapper {
  @include make-sm-column(8);
  @include make-sm-column-offset(2);

  height: 65%;

  .faq-index {
    @include make-sm-column(3);

    font-family: $light;
    font-size: 18px;
    list-style: none;
    margin: 0;
    text-align: right;

    .faq-link {
      margin-bottom: 10px;
    }
  }

  .faq-miths {
    @include make-sm-column(9);

    color: $ashes;
    font-family: $light;
    height: 80%;
    overflow-y: hidden;
  }
}