.sponsor-us-form {
  background-color: $red-blood;
  overflow: auto;
}

.sponsor-us-title {
  color: $white;
  font-size: 30px;
  font-weight: lighter;
  margin-top: 8%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    font-size: 50px;
  }
}

.sponsor-us-wrapper {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  @include make-lg-column(4);
  @include make-lg-column-offset(2);

  .sponsor-us-field {
  	border: none;
    border-radius: 5px;
    font-family: $light;
    height: 33px;
    margin: 10px 0;
    padding: 0 20px;
    width: 100%;
  }

  .sponsor-us-select {
    appearance: none;
    background: $white url('triangle.svg') 96% center no-repeat;
  }

  .sponsor-us-submit {
  	background-color: transparent;
    border: solid 1px $white;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    float: right;
    font-family: $light;
    font-size: 10px;
    font-weight: bold;
    margin: 10px 0 100px;
    padding: 8px 40px;
    text-transform: uppercase;

    &:hover {
      background-color: $white;
      color: $red-blood;
    }
  }
}

.slides {
  @include make-lg-column(2);
  @include make-lg-column-offset(2);

  padding: 0;

  .sponsor-us-slideshow {
    height: 260px;
    margin: 3% auto 0px;
    width: 305px;
  }

  img {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  	cursor: pointer;
  	display: hidden;
  	height: 200px;
  	width: 200px;
  }
}