.sponsor-us-form {
  background-color: $red-blood;
}

.sponsor-us-title {
  color: $white;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.sponsor-us-wrapper {
  @include make-sm-column(3);
  @include make-sm-column-offset(2);

  .sponsor-us-field {
  	appearance: none;
  	border: none;
    border-radius: 5px;
    font-family: $light;
    height: 33px;
    margin: 10px 0;
    padding: 0 20px;
    width: 100%;
  }

  .sponsor-us-select {
    appearance: none;
    background: $white url('triangle.svg') 96% center no-repeat;
  }

  .sponsor-us-submit {
  	background-color: transparent;
    border: solid 1px $white;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    float: right;
    font-family: $light;
    font-size: 10px;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 8px 40px;
    text-transform: uppercase;

    &:hover {
      background-color: $white;
      color: $red-blood;
    }
  }
}

.sponsor-us-slideshow {
  @include make-sm-column(4);
  @include make-sm-column-offset(1.5);

  height: 300px;
  margin-top: 3%;

  img {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  	cursor: pointer;
  	display: hidden;
  	height: 350px;
  	width: 350px;
  }
}