.donate-causes {
  background-color: $red-blood;
  overflow: auto;
  width: 100%;
}

.causes-title {
  color: $white;
  font-size: 30px;
  font-weight: lighter;
  line-height: 20px;
  margin: 0;
  padding: 30px 0 15px;
  text-align: center;

  @media (min-width: $screen-md-min) {
    font-size: 50px;
    line-height: 40px;
    padding: 40px 0 25px;
  }
}

.causes-wrapper {
  @include make-sm-column(7);
  @include make-sm-column-offset(2.5);
  @include make-md-column(10);
  @include make-md-column-offset(1);
  @include make-lg-column(9);
  @include make-lg-column-offset(1.5);

  margin: 20px 0;

  .causes-description {
  	@include make-md-column(4);

  	color: $white;
  	font-family: $light;
    margin: 20px 0 60px;
    padding: 0;

    @media (min-width: $screen-md-min) {
      margin: 0;
      padding: 0 15px;
    }

  	.causes-subtitle {
  	  font-size: 17px;
  	  font-weight: bold;
  	  margin: 2px 0;
  	}
  }

  .causes-image {
  	@include make-md-column(7.5);

  	border-radius: 10px;
  	padding-bottom: 30%;

    @media (min-width: $screen-md-min) {
      @include centerer(false,true);

      display: inline-block;
      height: 200px;
      padding-bottom: 0;
    }
  }

  .causes-img-1 {
  	background: url('causes-1.png') 0 0/cover no-repeat;
  }

  .causes-img-2 {
  	background: url('causes-2.png') 0 0/cover no-repeat;
  }

  .causes-img-3 {
  	background: url('causes-3.png') 0 0/cover no-repeat;
  }

  .causes-desc-2 {
    @media (min-width: $screen-md-min) {
      float: right;
    }
  }

}