.donate-causes {
  background-color: $red-blood;
  overflow: auto;
  width: 100%;
}

.causes-title {
  color: $white;
  font-size: 50px;
  font-weight: lighter;
  line-height: 40px;
  margin: 0;
  padding: 40px;
  text-align: center;
}

.causes-wrapper {
  @include make-sm-column(9);
  @include make-sm-column-offset(1.5);

  margin: 20px 0;

  .causes-description {
  	@include make-sm-column(4);

  	color: $white;
  	font-family: $light;

  	.causes-subtitle {
  	  font-size: 17px;
  	  font-weight: bold;
  	  margin: 2px 0;
  	}
  }

  .causes-image {
  	@include make-sm-column(8);

  	border-radius: 10px;
  	height: 200px;
  }

  .causes-img-1 {
  	background: url('causes-1.png') 0 0/cover no-repeat;
  }

  .causes-img-2 {
  	background: url('causes-2.png') 0 0/cover no-repeat;
  }

  .causes-img-3 {
  	background: url('causes-3.png') 0 0/cover no-repeat;
  }

  .causes-desc-2 {
  	float: right;
  }

  .causes-desc-3 {
  	margin-bottom: 100px;
  }
}