.donate-options {
  background-color: $red-blood;
  overflow: auto;
  padding: 0 15px;
  width: 100%;
}

.money-title {
  color: $white;
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  padding: 30px 0 40px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-md-min) {
    font-size: 50px;
    padding: 60px 0 40px;
  }
}

.money-wrapper {
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-lg-column(6);
  @include make-lg-column-offset(3);

  background-color: $white;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px 15px;

  .money-subtitle {
    color: $red-blood;
    font-size: 22px;
    font-weight: lighter;
    line-height: 18px;
    text-align: center;
  }

  .money-spots {
    background: url('donation-spots.png') center center no-repeat;
    height: 50px;
    margin-bottom: 15px;
  }

  .money-bank {
    @include make-sm-column(5);
    @include make-sm-column-offset(0.5);

    font-family: $light;

    .money-bold {
      font-weight: bold;
    }
  }

  .money-info {
    @include make-sm-column(6);

    font-family: $light;
  }
}