<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="donate">
  <%= render 'donate_blood/donate_form' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
