<div class="be-item">
  <div class="be-card be-card-1">
  	<div class="be-head">
  	  <div class="be-icon be-icon1"></div>
  	  <h3 class="be-title">Donadores<br>trabajando</h3>
  	</div>
  	<div class="be-paragraph">Buscamos fomentar la donación altruista en los centros de trabajo, ya sean públicos o privados. Nosotros llevamos el equipo de donación al lugar.</div>
  	<%= link_to "Quiero replicarlo", new_contact_path, class: "be-btn" %>
  	<div class="be-picture be-picture1"></div>
  </div>
</div>
<div class="be-item">
  <div class="be-card be-card-2">
  	<div class="be-head">
  	  <div class="be-icon be-icon2"></div>
  	  <h3 class="be-title">Donando<br>amor</h3>
  	</div>
  	<div class="be-paragraph">Son campañas que hacemos mensualmente en los bancos de sangre de los diferentes estados en los que estamos presentes, donde la gente acude a donar.</div>
  	<%= link_to "Quiero donar", donate_path, class: "be-btn" %>
  	<div class="be-picture be-picture2"></div>
  </div>
</div>
<div class="be-item">
  <div class="be-card be-card-3">
  	<div class="be-head">
  	  <div class="be-icon be-icon3"></div>
  	  <h3 class="be-title">Donadores<br>estudiando</h3>
  	</div>
  	<div class="be-paragraph">Buscamos fomentar la donación altruista en los centros de estudio, ya sean públicos o privados. Nosotros llevamos el equipo de donación al lugar.</div>
  	<%= link_to "Quiero replicarlo", new_contact_path, class: "be-btn" %>
  	<div class="be-picture be-picture3"></div>
  </div>
</div>
<div class="separator"></div>