<div class="our-container">
  <div class="mission">
    <h3>Misi贸n</h3>
    <p>Nuestra misi贸n es ...</p>
  </div>
  <div class="vision">
    <h3>Visi贸n</h3>
    <p>Nuestra visi贸n es ...</p>
  </div>
</div>
<div class="our-containerObj">
  <div class="objective">
    <h3>Objetivo</h3>
    <p>Nuestro objetivo es ...</p>
  </div>
</div>
