<div class="our-wave">
  <a href="https://www.youtube.com/watch?v=BcLNAUJqqhg" class="about-play"></a>
</div>
<div class="our-left">
  <div class="mission">
    <h2 class="our-title">Misión</h2>
    <p class="our-paragraph">Desarrollar estrategias que motiven a las personas a implicarse en su entorno desde una perspectiva altruista, comunitaria y holística, aportando talento y recursos disponibles que permitan transformar el hábitat.</p>
  </div>
</div>
<div class="our-right">
  <div class="vision">
    <h2 class="our-title">Visión</h2>
    <p class="our-paragraph">Trabajar permanentemente por una sociedad en la que los ciudadanos sean el eje articulador de grandes acciones en favor de su entorno.</p>
  </div>
</div>