<h1 class="about-title">¿Qué<br>hacemos?</h1>
<div class="about-card abcard-1"></div>
<p class="about-paragraph">A través de nuestros programas y actividades fomentamos la donación altruista de sangre, llevándolo a cabo de una manera sana, divertida y novedosa.</p>
<div class="about-card abcard-2"></div>
<p class="about-paragraph2">En Donadores Compulsivos trabajamos creando lazos entre diferentes personas para juntos cambiar la cultura de la donación de sangre en el país.</p>
<div class="about-card abcard-3"></div>
<div class="about-wave">
  <a href="https://www.youtube.com/watch?v=BcLNAUJqqhg" class="about-play"></a>
</div>