<div class="what-description">
  <h2>¿Qué hacemos?</h2>
  <p>Somos una organización sin fines de lucro que busca 
        facilitar el proceso de donar y recibir sangre 
        y ayudar a muchas personas que lo necesitan.</p>
</div>
<div class="team"></div>
