<h1 class="faq-title">Preguntas frecuentes</h1>

<ul class="index">
  <li class="link"><a href="#general">Informaci&oacute;n general</a></li>
  <li class="link"><a href="#donadores">Donadores</a></li>
  <li class="link"><a href="#receptores">Receptores</a></li>
  <li class="link"><a href="#restricciones">Restricciones</a></li>
  <li class="link"><a href="#tiposdesangre">Tipos de sangre</a></li>
</ul>

<div class="faq">
  <h3 class="subject" id="general">Informaci&oacute;n general</h3>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

  <h3 class="subject" id="donadores">Donadores</h3>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

  <h3 class="subject" id="receptores">Receptores</h3>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

  <h3 class="subject" id="restricciones">Restricciones</h3>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

  <h3 class="subject" id="tiposdesangre">Tipos de sangre</h3>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  <p class="answer"><span class="question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
  R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
</div>