<h1 class="faq-title">Preguntas<br>frecuentes</h1>

<div class="faq-wrapper">
  <ul class="faq-index">
    <li class="faq-link"><a href="#general">Informaci&oacute;n general</a></li>
    <li class="faq-link"><a href="#donadores">Donadores</a></li>
    <li class="faq-link"><a href="#receptores">Receptores</a></li>
    <li class="faq-link"><a href="#restricciones">Restricciones</a></li>
    <li class="faq-link"><a href="#tiposdesangre">Tipos de sangre</a></li>
  </ul>

  <div class="faq-miths">
    <h3 class="faq-subject" id="general">Informaci&oacute;n general</h3>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

    <h3 class="faq-subject" id="donadores">Donadores</h3>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

    <h3 class="faq-subject" id="receptores">Receptores</h3>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

    <h3 class="faq-subject" id="restricciones">Restricciones</h3>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>

    <h3 class="faq-subject" id="tiposdesangre">Tipos de sangre</h3>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
    <p class="faq-answer"><span class="faq-question">¿Lorem ipsum dolor sit amet, consectetur adipiscing elit.?</span><br>
    R. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus nisl ac magna hendrerit ultrices. Duis eu quam convallis, maximus lectus et, aliquam erat. Mauris dictum maximus enim.</p>
  </div>
</div>