<h1 class="faq-title">Preguntas<br>frecuentes</h1>

<div class="faq-wrapper">
  <ul class="faq-index">
    <li class="faq-link"><a href="#tattoo">Tatuajes</a></li>
    <li class="faq-link"><a href="#hepatitis">Hepatitis</a></li>
    <li class="faq-link"><a href="#sexual-partners">Parejas sexuales</a></li>
    <li class="faq-link"><a href="#period">Periodo</a></li>
    <li class="faq-link"><a href="#how-often">Frecuencia</a></li>
    <li class="faq-link"><a href="#bloodtypes">Tipos de sangre</a></li>
  </ul>

  <div class="faq-miths">
    <h3 class="faq-subject" id="tattoo">¿Puedo donar si estoy tatuado?</h3>
    <p class="faq-answer">Claro que puedes donar con tatuajes, solo debes esperar a que pase un año desde tu último tatuaje, piercing, perforación o tratamiento de acupuntura.</p>
    <h3 class="faq-subject" id="hepatitis">¿Puedo donar si me dio hepatitis?</h3>
    <p class="faq-answer">Si sucedió durante un periodo anterior a los 10 años, si puedes donar.</p>
    <h3 class="faq-subject" id="sexual-partners">¿Cuantas parejas sexuales se pueden tener?</h3>
    <p class="faq-answer">Para poder donar, es necesario haber estado solo con una pareja durante el último año.</p>
    <h3 class="faq-subject" id="period">¿Si tengo mi periodo puedo donar?</h3>
    <p class="faq-answer">Sí puedes donar, a menos que presentes cualquier sintoma inusual o un flujo abundante, la última palabra la tendrá el médico durante la entrevista previa a la donación.</p>
    <h3 class="faq-subject" id="how-often">¿Cada cuanto tiempo puedo donar?</h3>
    <p class="faq-answer">Los hombres pueden donar a los 46 días, un máximo de 6 veces al año, mientras que en las mujeres se recomienda que donen cada 3 meses.</p>
    <h3 class="faq-subject" id="bloodtypes">¿Cuantos tipos de sange existen?</h3>
    <p class="faq-answer">Existen cuatro grupos sanguíneos: A, B, AB y O, los cuales pueden ser Rh positivo o Rh negativo, por cual en total son 8 diferentes tipos de sangre.</p>
  </div>
</div>