<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="faq">
  <%= render 'frecuent_asked_questions/questions' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
