<div class="inter standartScroll">
  <%= render 'layouts/header' %>
</div>

<section class="faq standartScroll">
  <%= render 'frecuent_asked_questions/questions' %>
</section>

<div class="standartScroll">
  <%= render 'layouts/footer' %>
</div>
