@font-face {
    font-family: 'Gotham-Bold';
    src: font-url( asset-path('gotham-bold.eot'));
    src: font-url( asset-path('gotham-bold.eot?#iefix')) format('embedded-opentype'),
         font-url( asset-path('gotham-bold.woff2')) format('woff2'),
         font-url( asset-path('gotham-bold.woff')) format('woff'),
         font-url( asset-path('gotham-bold.ttf')) format('truetype'),
         font-url( asset-path('gotham-bold.svg#gothamregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: font-url( asset-path('gotham-light.eot'));
    src: font-url( asset-path('gotham-light.eot?#iefix')) format('embedded-opentype'),
         font-url( asset-path('gotham-light.woff2')) format('woff2'),
         font-url( asset-path('gotham-light.woff')) format('woff'),
         font-url( asset-path('gotham-light.ttf')) format('truetype'),
         font-url( asset-path('gotham-light.svg#gothamregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}