<div class="campaign-wave"></div>
<div class="campaign-container">
  <h2 class="campaign-title">Últimas campañas</h2>
  <div class="campaign-navigation">
  	<div class="campaign-side-left">
  	  <div class="campaign-nav-left"><div class="left-arrow left-js"></div></div>
  	</div>
  	<div class="campaign-month">
      <div class="campaign-item">
        <h3 class="campaign-date">Marzo<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Damos las gracias a todos los Donadores Compulsivos que nos visitaron este mes. Hasta 66 vidas se pueden salvar con la ayuda de estos heroes, ¿Qué esperas para ser uno de ellos? ¡Ven a donar y llevate una de nuestras playeras oficiales!</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-date">Abril<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Este mes del niño muchas personas nuevas se convirtieron en Donadores Compulsivos y obtuvieron su playera oficial. Queremos agradecer a todos ellos y también a los que no pudieron donar por alguna razón, ¡No dejen de intentar!</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-date">Mayo<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">De los más de 400 donadores que se han unido a nosotros en estos 18 meses, hay un grupo muy Compulsivo al cual queremos agradecerles tanta vida. Así mismo queremos darle la bienvenida a todos los que donaron por primera vez, esperando que regresen muchas más.</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-date">Junio<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Este mes tuvimos la participación del Insituto José Martí, quienes aportaron 10 unidades de sangre entre maestros y alumnos, así como los chicos de Magma Labs, y muchas personas más que nos ayudaron a llegar a las 37 unidades. ¡Gracias a todos!</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
  	</div>
  	<div class="campaign-side-right">
  	  <div class="campaign-nav-right"><div class="right-arrow right-js"></div></div>
  	</div>
  </div>
  <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-more flat-btn">Más campañas</a>
</div>
<div class="campaign-pictures">
  <div class="campaign-pic-1"></div>
  <div class="campaign-pic-2"></div>
  <div class="campaign-pic-3"></div>
  <div class="campaign-pic-4"></div>
</div>