<div class="campaign-cover">
  <h2 class="campaign-header">Este mes</h2>
  <div class="campaign-description">
  	<h3>Mayo</h3>
  	<p>La campaña de este mes consiste en ...</p>
  </div>
</div>
<div class="campaign-evidence"></div>