<div class="campaign-wave"></div>
<div class="campaign-container">
  <h2 class="campaign-title">Últimas campañas</h2>
  <div class="campaign-navigation">
  	<div class="campaign-side-left">
  	  <div class="campaign-nav-left"><div class="left-arrow left-js"></div></div>
  	</div>
  	<div class="campaign-month">
      <div class="campaign-item">
        <h3 class="campaign-date">Enero<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total.</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-date">Febrero<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total.</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-date">Marzo<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total.</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-date">Abril<span class="campaign-year">2017</span></h3>
        <p class="campaign-description">Este mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total deste mes del niño nuestra meta es ayudar a varios hospitales infantiles del estado de Colima, ofreciendo un total.</p>
        <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-show">Ver más</a>
      </div>
  	</div>
  	<div class="campaign-side-right">
  	  <div class="campaign-nav-right"><div class="right-arrow right-js"></div></div>
  	</div>
  </div>
  <a href="https://www.facebook.com/DonadoresCompulsivos/" class="campaign-more flat-btn">Más campañas</a>
</div>
<div class="campaign-pictures">
  <div class="campaign-pic-1"></div>
  <div class="campaign-pic-2"></div>
  <div class="campaign-pic-3"></div>
  <div class="campaign-pic-4"></div>
</div>