<div class="cover-video">
  <div class="cover-paragraph">
  	<h2 class="cover-title">¿Quienes somos?</h2>
  	<p class="cover-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="big-buttons">
  <div class="give-btn"><%= link_to 'Quiero donar', donate_path, class: 'flat-btn' %></div>
  <div class="receive-btn"><%= link_to 'Busco donadores', find_donors_path, class: 'flat-btn' %></div>
</div>