<%= render 'layouts/header' %>
<div class="video"></div>
<div class="big-buttons">
  <div class="give-btn"><%= link_to 'Quiero donar', donate_path, class: 'flat-btn' %></div>
  <div class="receive-btn"><a href="busco_donadores.html" class="flat-btn">Busco donadores</a></div>
</div>