<div class="more-left">
  <h3 class="more-title">¿Quieres saber más sobre nosotros?</h3>
</div>
<div class="more-right">
  <div class="more-btn"><%= link_to 'Conocenos', about_us_path, class: 'flat-btn' %></div>
</div>
<div class="social-networks">
  <a href="#######" class="social-item facebook">Facebook</a>
  <a href="#######" class="social-item twitter">Twitter</a>
  <a href="#######" class="social-item instagram">Instagram</a>
</div>