<div class="our-item">
  <div class="our-center">
  	<div class="our-icon our-icon-1"></div>
    <div class="our-text">
  	  <div class="our-number count">30</div>
  	  <div class="our-description">Campañas<br>realizadas</div>
    </div>
  </div>
</div>
<div class="our-item">
  <div class="our-center">
  	<div class="our-icon our-icon-2"></div>
    <div class="our-text">
  	  <div class="our-number count">572</div>
  	  <div class="our-description">Donadores</div>
    </div>
  </div>
</div>
<div class="our-item">
  <div class="our-center">
  	<div class="our-icon our-icon-3"></div>
    <div class="our-text">
  	  <div class="our-number count">830</div>
  	  <div class="our-description">Unidades<br>donadas</div>
    </div>
  </div>
</div>