<div class="our-item">
  <div class="our-center">
  	<div class="our-icon"></div>
    <div class="our-text">
  	  <div class="our-number count">27</div>
  	  <div class="our-description">Campañas<br>exitosas</div>
    </div>
  </div>
</div>
<div class="our-item">
  <div class="our-center">
  	<div class="our-icon"></div>
    <div class="our-text">
  	  <div class="our-number count">93</div>
  	  <div class="our-description">Personas<br>afiliadas</div>
    </div>
  </div>
</div>
<div class="our-item">
  <div class="our-center">
  	<div class="our-icon"></div>
    <div class="our-text">
  	  <div class="our-number count">1000</div>
  	  <div class="our-description">Vidas<br>salvadas</div>
    </div>
  </div>
</div>