<div class="brands">
  <div class="sponsor-wrapper">
  	<h2 class="sponsor-title">Con tu ayuda podemos seguir adelante</h2>
  	<p class="sponsor-paragraph">Somos una asociación sin fines de lucro, operamos por la pasión de ayudar a las personas. Aun así, necesitamos de tu apoyo para poder seguir salvando vidas.</p>
    <%= link_to "Quiero patrocinar", new_sponsor_path, class: "sponsor-btn" %>
  </div>
</div>