<div class="sponsors">
  <div class="sponsors-container">
  	<div class="brand nike">NIKE</div>
  	<div class="brand apple">Apple</div>
  	<div class="brand tesla">Tesla</div>
  	<div class="brand nasa">NASA</div>
  	<div class="brand uber">Uber</div>
  	<div class="brand amazon">Amazon</div>
  	<div class="brand yahoo">Yahoo!</div>
  	<div class="brand mcdonalds">McDonald's</div>
  </div>
  <div class="sponsor-us"><a href="#" class="flat-btn">Patrocina a Donadores Compulsivos</a></div>
</div>