<div class="testimony-title">Testi<br>monios<br>
<a href="https://www.youtube.com/channel/UCclkvqNgY0KjOM_bg_cfv-A" class="testimony-videos">Ver videos<div class="testimony-play"></div></a>
</div>
<div class="testimony-cards">
  <div class="card card-1 testimony-js active-card">
  	<p class="testimony-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
  	<span class="testimony-person">- Lorem Ipsum Pérez</span></p>
  </div>
  <div class="card card-2 testimony-js">
  	<p class="testimony-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
  	<span class="testimony-person">- Lorem Ipsum Pérez</span></p>
  </div>
  <div class="card card-3 testimony-js">
  	<p class="testimony-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
  	<span class="testimony-person">- Lorem Ipsum Pérez</span></p>
  </div>
</div>