<div class="brand-wrapper">
  <h1 class="brand-title">Patrocinadores</h1>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
  <div class="brand-item"></div>
</div>