<h1 class="sponsor-us-title">Ayúdanos a salvar más vidas</h1>
<div class="slides">
  <div class="sponsor-us-slideshow">
    <img src="<%= asset_path 'sponsor-slide-1' %>">
    <img src="<%= asset_path 'sponsor-slide-2' %>">
    <img src="<%= asset_path 'sponsor-slide-3' %>">
  </div>
</div>