<section class="sponsor-us-form">
  <%= render 'layouts/header' %>
  <%= render 'sponsors/form' %>
  <%= render 'sponsors/slideshow' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
