<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="sponsor-us">
  <%= render 'sponsors/brands' %>
</section>

<section class="be-sponsor">
  <%= render 'sponsors/be_sponsor' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
