.sponsors {
  background: $red-blood url('sponsorus.png') 80%/cover no-repeat;
}

.brands {
  height: 650px;
  position: relative;
  width: 100%;
}

.sponsor-wrapper {
  @include make-sm-column(4);
  @include make-sm-column-offset(2);
  @include centerer(false,true);
}

.sponsor-title {
  color: $red-blood;
  font-size: 45px;
  font-weight: lighter;
  line-height: 35px;
  margin: 0;
  text-transform: uppercase;
}

.sponsor-paragraph {
  @include make-sm-column(10);

  font-family: $light;
  margin-bottom: 30px;
  padding: 0;
}

.sponsor-btn {
  background-color: transparent;
  border: solid 2px $red-blood;
  border-radius: 4px;
  color: $red-blood;
  font-family: $medium;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 13px 8px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background-color: $red-blood;
  }
}