.testimony-title {
  @include make-sm-column(3);
  @include make-sm-column-offset(0.5);

  color: $red-blood;
  font-size: 50px;
  line-height: 40px;
  padding-top: 8%;
  text-transform: uppercase;
}

.testimony-cards {
  @include make-sm-column(7);
  @include centerer(false, true);

  padding-bottom: 38%;
  position: relative;
}

.card {
  @include make-sm-column(9);

  background-color: $cloud;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  color: $white;
  padding-bottom: 50%;
  position: absolute;
  transition: all 0.2s;

  &:hover {
    transform: translateX(10px);
  }

  .testimony-text {
    font-family: $light;
    margin: 50px;
    position: absolute;
    right: 0;
    width: 50%;
  }

  .testimony-person {
    display: inherit;
    font-style: italic;
    margin-top: 25px;
    text-align: right;
  }
}

.card-2 {
  @include make-sm-column-offset(1.5);

  top: 12%;
}

.card-3 {
  right: 0;
  bottom: 0;
  z-index: -1;
}

.active-card {
  background-color: $red-blood;
  z-index: 50;
}