.dc-footer {
  background-color: $black;
  color: $white;
  position: relative;
  height: 560px;

  @media (min-width: $screen-sm-min) {
    height: 400px;
  }

  .footer-wave {
  	background: url('wave.svg') 0 100%/contain no-repeat;
  	height: 58px;
  	position: absolute;
  	top: -56px;
  	width: 100%;
  }

  .footer-social {
    @include make-xs-column(9);
    @include make-xs-column-offset(1.5);
    @include make-lg-column(6);
    @include make-lg-column-offset(3);

  	.footer-item {
  	  @include make-xs-column(4);

      height: 90px;
      margin-top: 20px;

      @media (min-width: $screen-sm-min) {
        height: 130px;
        margin: 0;
      }
  	}
  }
}

.footer-facebook {
  background: url('facebook.jpg') 0 0/cover no-repeat;

  &:hover {
    background: url('gifs/facebook.gif') 0 0/cover no-repeat;
  }
}

.facebook-icon {
  background: url('facebook.svg') center/10px 20px no-repeat;
  border-radius: 50%;
  height: 45px;
  width: 45px;

  @media (min-width: $screen-sm-min) {
    background: url('facebook.svg') center center no-repeat;
    height: 90px;
    width: 90px;
  }
}

.footer-instagram {
  background: url('instagram.jpg') 0 0/cover no-repeat;

  &:hover {
    background: url('gifs/instagram.gif') 0 0/cover no-repeat;
  }
}

.instagram-icon {
  background: url('instagram.svg') center/20px no-repeat;
  border-radius: 50%;
  height: 45px;
  width: 45px;

  @media (min-width: $screen-sm-min) {
    background: url('instagram.svg') center center no-repeat;
    height: 90px;
    width: 90px;
  }
}

.footer-twitter {
  background: url('twitter.jpg') 0 0/cover no-repeat;

  &:hover {
    background: url('gifs/twitter.gif') 0 0/cover no-repeat;
  }
}

.twitter-icon {
  background: url('twitter.svg') center/20px 15.5px no-repeat;
  border-radius: 50%;
  height: 45px;
  width: 45px;

  @media (min-width: $screen-sm-min) {
    background: url('twitter.svg') center center no-repeat;
    height: 90px;
    width: 90px;
  }
}

.footer-snlink {
  @include centerer(true, false);

  height: 45px;
  width: 45px;

  @media (min-width: $screen-sm-min) {
    height: 90px;
    width: 90px;
  }
}

.footer-column {
  @include make-xs-column(9);
  @include make-xs-column-offset(1.5);

  color: $white;
  margin-top: 10px;

  @media (min-width: $screen-sm-min) {
    @include make-sm-column(4);
    @include make-sm-column-offset(0);
    @include make-lg-column(3);
    @include make-lg-column-offset(.75)
  }

  .footer-navigation {
    float: left;
    margin-right: 15px;

    .sub {
      margin-left: 12px;
    }
  }

  .footer-title {
    font-family: $medium;
  	font-size: 12px;
  	font-weight: initial;
    margin: 0;
  	text-transform: uppercase;
  }

  .footer-paragraph {
    font-family: $light;
  	font-size: 10px;

  	a {
  	  color: $white;
  	}

    @media (min-width: $screen-sm-min) {
      font-size: 12px;
    }
  }

  .footer-teaminfo {
    @media (min-width: $screen-sm-min) {
      margin-top: 40px;
    }
  }

  .footer-team {
    display: inline-block;
    font-family: $light;
    font-size: 10px;
    font-weight: bold;
    margin: 8px 0;

    a {
      color: $white;
      font-weight: bold;
      text-decoration: underline;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 11px;
    }
  }

  .footer-teamlogo {
    display: block;
    float: right;
  }
}