.dc-header {
  background-color: $black;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
  height: 60px;
  position: relative;
  width: 100%;
}

.logo {
  background: url('donadores-logo.svg') no-repeat;
  display: inline-block;
  float: left;
  height: 30px;
  margin: 15px;
  width: 214px;
}

.navigation {
  display: inline-block;
  left: 50%;
  margin: 21px;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
}

.nav-link {
  display: inline-block;
  list-style: none;
  margin-left: -5px;

  a {
    border-right: solid 1px $white;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 13px;
    line-height: 15px;
    padding: 0 20px;
    text-transform: uppercase;
  }

  &:last-of-type {
    a {
      border: none;
    }
  }
}

.nav-link a:hover {
  color: $red-blood;
}

.ayudar-btn a {
  display: inline-block;
  float: right;
  font-size: 18px;
  line-height: 40px;
  margin: 10px 15px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
}