<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tenemos un nuevo donador</h1>
    <p>
      Su nombre es <%= @name %>
    </p>
    <p>
      Email: <%= @email %>
    </p>
    <p>
      Ciudad: <%= @city %>
    </p>
  </body>
</html>