<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Gracias por tu solidaridad!</h1>
    <p>
      Te contactaremos pronto para confirmar lugar y fecha.
    </p>
    <p>¡Ten un buen día! -DC</p>
  </body>
</html>