<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu solicitud ha sido recibida</h1>
    <p>
      Nos pondremos en contacto contigo tan pronto halla donadores disponibles para ti.
    </p>
    <p>¡Te deseamos un excelente día! -DC</p>
  </body>
</html>
