<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="results">
  <%= render 'donate_results/congrats' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
