.be-part {
  overflow: auto;
  margin-bottom: 60px;
  padding: 0 15px;
  width: 100%;
}

.be-item {
  @include make-sm-column(4);

  height: 100%;
}

.be-card {
  background-color: $red-blood;
  border-radius: 20px;
  color: $white;
  font-family: $light;
  margin: 20px auto;
  max-width: 350px;
  height: 79%;
  text-align: center;

  .be-head {
  	border-bottom: solid 1px $white;
  	margin: 0 50px;
  	padding-top: 30px;

  	.be-icon {
  	  height: 26px;
  	  margin: 0 auto;
  	  width: 42px;
  	}

    .be-icon1 {
      background: url('gear.svg') center center no-repeat;
    }

    .be-icon2 {
      background: url('heart.svg') center center no-repeat;
    }

    .be-icon3 {
      background: url('gradcap.svg') center center no-repeat;
    }

  	.be-title {
  	  font-size: 25px;
  	  margin: 15px 0 20px;
  	  text-transform: uppercase;
  	}
  }

  .be-paragraph {
  	margin: 30px 50px 50px;
  }

  .be-btn {
  	background-color: $white;
    color: $red-blood;
  	border: solid 2px $white;
  	border-radius: 5px;
  	font-family: $bold;
  	font-weight: lighter;
  	padding: 5px 16px;
  	text-transform: uppercase;

  	&:hover {
  	  background-color: transparent;
  	  color: $white;
  	}
  }

  .be-picture {
  	@include make-sm-column(9.5);
  	@include make-sm-column-offset(1.25);

  	background-color: $cloud;
  	border-radius: 10px;
  	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  	padding-bottom: 96%;
  	margin-bottom: 50px;
  	margin-top: 60px;
  	z-index: 100;
  }

  .be-picture1 {
    background: url('working.jpg') center/cover no-repeat;
  }
  
  .be-picture2 {
    background: url('loving.jpg') center/cover no-repeat;
  }
  
  .be-picture3 {
    background: url('studying.jpg') center/cover no-repeat;
  }
}

.be-card-1, .be-card-3 {
  margin-top: 20%;
}

.separator {
  display: block;
  height: 100px;
  width: 100%;
}