.our-values {
  background-color: $black;
  overflow: hidden;
  position: relative;
}

.our-left {
  @include make-xs-column(6);

  height: 100%;

  .mission {
  	@include centerer(false, true);

  	border: solid 2px $white;
  	border-right: none;
  	color: $white;
  	margin-right: 10px;
  	max-width: 300px;
  	padding: 20px 0 20px 10px;
  	position: absolute;
  	right: 0;
  	text-align: right;
  	width: 80%;

    @media (min-width: $screen-sm-min) {
      padding: 40px 0 40px 30px;
    }
  }
}

.our-right {
  @include make-xs-column(6);

  height: 100%;

  .vision {
  	@include centerer(false, true);

  	border: solid 2px $red-blood;
  	border-left: none;
  	color: $red-blood;
  	left: 0;
  	margin-left: 10px;
  	max-width: 300px;
  	padding: 20px 10px 20px 0;
  	position: absolute;
  	width: 80%;

    @media (min-width: $screen-sm-min) {
      padding: 40px 30px 40px 0;
    }
  }
}

.our-title {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    font-size: 50px;
  }
}

.our-paragraph {
  font-family: $roboto;
  font-size: 12px;

  @media (min-width: $screen-sm-min) {
    font-size: 18px;
  }
}