<div class="contact-container">
  <div class="contact-image">
    <p class="info">(52) 555 222 77 33<br>
    contactodonadores@compulsivos.com</p>
  </div>
  <div class="social-networks">
    <a href="#######" class="social-item facebook">Facebook</a>
    <a href="#######" class="social-item twitter">Twitter</a>
    <a href="#######" class="social-item instagram">Instagram</a>
  </div>
</div>