<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="contact">
  <div class="donate-form">
  	<%= render 'contact/contact_form' %>
  </div>
  <%= render 'contact/social_networks' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
