<h1 class="money-title">Donaciones</h1>
<div class="money-wrapper">
  <h3 class="money-desc">Por el momento, para donar económicamente, contactanos a <%= mail_to 'info@donadorescompulsivos.org', 'info@donadorescompulsivos.org', subject: 'Donación económica' %></h3>
<!--
  <h3 class="money-subtitle">Puedes hacer tus donaciones<br>depositando en banco o en Oxxo</h3>
  <div class="money-spots"></div>
  <p class="money-bank"><span class="money-bold">Santander</span><br>
    7606534<br>
    Sucursal 349<br>
    A nombre de Donadores Compulsivos A.C.</p>
  <p class="money-info">Favor de avisarnos al teléfono 5550-4044 
    o a info@donadorescompulsivos.org que has depositado a la cuenta.
  </p>
!-->
</div>
