<h2 class="causes-title">¿A qué se destinan<br>tus donaciones?</h2>
<div class="causes-wrapper">
  <div class="causes-image causes-img-1"></div>
  <div class="causes-description causes-desc-1">
    <h3 class="causes-subtitle">Playeras</h3>
    Nuestras playeras solo se consiguen al donar sangre por primera vez con nosotros, esto conlleva uno de nuestros gastos principales, puesto que al día de hoy hemos entregado más de 600, y conforme crecemos en número de campañas y donadores, necesitamos reponer nuestro inventario de tallas y modelos, tantp para mujeres como hombres. Literalmente buscamos que miles de personas se pongan la camiseta.
  </div>
</div>
<div class="causes-wrapper">
  <div class="causes-image causes-img-2"></div>
  <div class="causes-description causes-desc-2">
    <h3 class="causes-subtitle">Personal</h3>
    Crecer implica dedicarle más y más tiempo a Donadores Compulsivos, por lo cual hemos llegado al punto en el que necesitamos contar con una persona que se dedique de tiempo completo a gestionar las campañas, buscar patrocinadores, cerrar convenios de donación de sangre con empresas y escuelas, etc. Con tu aportación, podríamos contratar a esta persona que con su trabajo nos ayudaría a impulsar nuestra labor.
  </div>
</div>
<div class="causes-wrapper">
  <div class="causes-image causes-img-3"></div>
  <div class="causes-description causes-desc-3">
    <h3 class="causes-subtitle">Crecimiento</h3>
    Nuestro sueño a corto plazo es poder adquirir una unidad móvil, para lo cual vamos a lanzar una campaña para recabar los fondos necesarios. Esta unidad móvil nos facilitará la operación de las campañas externas de donación de sangre, así como el acceso a poblaciones lejanas, y con ello aumentar el número de donadores altruistas. Está comprobado que la única manera de incrementar el porcentaje de donación altruista es acercando las campañas a donde la gente estudia, trabaja o se junta a hacer actividades colectivas. Esta unidad nos permitiría llevar a cabo campañas de donación en escuelas, centros de trabajo, iglesias, plazas comerciales, etc.
  </div>
</div>