<h2 class="causes-title">¿A qué se destinan<br>tus donaciones?</h2>
<div class="causes-wrapper">
  <div class="causes-description causes-desc-1">
    <h3 class="causes-subtitle">Hospitales</h3>
    Poster can be one of the effective marketing and advertising materials. It is also a great tool to use when you want to present your services to a new league or as a point of sale display on picture day. The poster must show your products that are available, along with your company name and contact information.
  </div>
  <div class="causes-image causes-img-1"></div>
</div>
<div class="causes-wrapper">
  <div class="causes-description causes-desc-2">
    <h3 class="causes-subtitle">Comunidades</h3>
    Poster can be one of the effective marketing and advertising materials. It is also a great tool to use when you want to present your services to a new league or as a point of sale display on picture day. The poster must show your products that are available, along with your company name and contact information.
  </div>
  <div class="causes-image causes-img-2"></div>
</div>
<div class="causes-wrapper">
  <div class="causes-description causes-desc-3">
    <h3 class="causes-subtitle">Personas</h3>
    Poster can be one of the effective marketing and advertising materials. It is also a great tool to use when you want to present your services to a new league or as a point of sale display on picture day. The poster must show your products that are available, along with your company name and contact information.
  </div>
  <div class="causes-image causes-img-3"></div>
</div>