<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="donate-options inter">
  <%= render 'donate_money/donate_options' %>
</section>

<section class="donate-causes standartScroll">
  <%= render 'donate_money/donate_causes' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
