<section class="sponsor-us-form">
  <%= render 'layouts/header' %>
  <%= render 'sponsor_us/form' %>
  <%= render 'sponsor_us/slideshow' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
