<form class="form">
  <label for="name" class="name">Nombre</label><br>
  <input id="name" class="input" type="text" name="name"><br>
  <label for="phone" class="phone">Telefono</label><br>
  <input id="phone" class="input" type="text" name="phone"><br>
  <label for="email" class="email">Email</label><br>
  <input id="email" class="input" type="email" name="email"><br>
  <label for="message" class="message">Mensaje</label><br>
  <input id="message" class="input" type="text" name="message"><br>
  <input class="submit flat-btn" type="submit" name="send" value="Enviar">
</form>
